<header>
  <a routerLink="/" aria-label="ATSIestudio, inicio">ATSIestudio</a>
  <nav aria-label="Navegación principal">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        >
      </li>
      <li>
        <a routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Servicios</a
        >
      </li>
      <li>
        <a routerLink="/como-trabajamos" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Cómo trabajamos</a
        >
      </li>
      <li>
        <a routerLink="/proyectos" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Proyectos</a
        >
      </li>
      <li>
        <a routerLink="/sobre-atsi-estudio" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Sobre ATSIestudio</a
        >
      </li>
      <li>
        <a routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
